.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 15px;
    transition: all .2s;
}

.icon {
    fill: var(--invert-primary-color);
}

.collaps {
    width: var(--sidebar-width-collapsed);

    .switcher {
        flex-direction: column;
        align-items: center;
    }

    .link {
        opacity: 0;
        width: 0;

    }
}