:root{
    --bg-color: #e8e8ea;
    --invert-bg-color: #090949;



    --primary-color: #00279b;
    --secondary-color: #086dfa;
    --invert-primary-color: #049684;
    --invert-secondary-color: #84ff04;

}