@import 'reset';
@import 'variable/global';
@import 'theme/normal';
@import 'theme/dark';



.app {
    font:var(--font-n);

    color: var(--primary-color);
    background: var(--bg-color);

    min-height: 100vh;
}