@import 'reset';
@import 'variable/global';
@import 'theme/normal';
@import 'theme/dark';
@import 'theme/green';


body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}


.content-page {
    display: flex;
}